h1 {
    font-weight: 300;
    letter-spacing: 0.2em;
    text-shadow: 5px 5px 5px rgb(8, 8, 66);
}
p {
    font-family: monospace;
    font-size: 18px;
    color: pink;
    line-height: 1.6;
}
body {
    text-align: center;
}